name: buildx

on:
  # push:
  #   branches:
  #     - 'main'
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/by275/kavita

jobs:
  buildx:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Set global environment variables
        shell: bash
        run: |
          echo "KAVITA_VER=$(curl -fsSL https://api.github.com/repos/by275/docker-kavita/releases/latest | jq -r '.tag_name')" >> $GITHUB_ENV
          echo "ATIVAK_VER=$(curl -fsSL https://api.github.com/repos/Kareadita/Kavita/releases/latest | jq -r '.tag_name')" >> $GITHUB_ENV
      -
        name: Buildx and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.KAVITA_VER }}
            ${{ env.IMAGE_NAME }}:${{ env.KAVITA_VER }}-${{ env.ATIVAK_VER }}
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            KAVITA_VER=${{ env.KAVITA_VER }}
            ATIVAK_VER=${{ env.ATIVAK_VER }}
      -
        name: Notification
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          description: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.KAVITA_VER }}
            ${{ env.IMAGE_NAME }}:${{ env.KAVITA_VER }}-${{ env.ATIVAK_VER }}
